/* style.css */

/* 通用样式 */
body {
    background-image: url('photo.jpg');
    background-size: cover;
    background-position: center center;
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 600px;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.2);  /* 添加半透明背景 */
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);  /* 虚化效果 */
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: blur(10px);
    z-index: -1;
}

h1, h2, ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1 {
    margin-bottom: 20px;
    font-size: 32px;
}

h2 {
    font-size: 28px;
    margin-top: 20px;
}

ul {
    margin-top: 10px;
}

/* 添加一些悬停效果 */
ul li:hover {
    background-color: #f4f4f4;
    border-radius: 5px;
}

/* 为标题添加底部边框，使其更突出 */
h2 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

/* style.css (继续) */

/* 默认隐藏所有的子内容 */
.content {
    display: none;
    margin-top: 10px;
}

/* 为可点击的主标题增加光标效果 */
.main-title {
    cursor: pointer;
    font-size: 2em; /* 字体大小调整 */
    margin-bottom: 30px;
}

/* 添加一个简单的动画效果 */
.content.show {
    animation: fadeIn 0.5s;
}

.header-title {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 50px; 
}

.start-button {
    display: inline-block;
    padding: 12px 24px;
    margin-top: 20px;
    border: 2px solid #000000;  /* 边框颜色设置为黑色 */
    border-radius: 5px;
    background-color: transparent;  /* 透明背景 */
    color: #000000;  /* 文字颜色设置为黑色 */
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;  /* 字体大小 */
    transition: background-color 0.3s, color 0.3s;
}

.start-button:hover {
    background-color: #000000;
    color: white;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
